/**
Nav Layout 
**/
body > nav {
  height: 5em;
  width: 100%;
  background-color: #9f9793;
  background-image: url(/images/dust.png);
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

#logo {
  font-family: "Bungee", cursive;
  font-size: 36px;
  opacity: 0.75;
}

#nav-call {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-call:hover {
  cursor: pointer;
}

#nav-call em  {
  font-size: 1.2em;
  color: #D44338;
  display: block;
  opacity: 0.5;
  transition: 0.2s;
}

#nav-call:hover em {
  cursor: pointer;
  opacity: 1;
}

#nav-call em.close {
  transform: rotate(180deg);
}

@media only screen and (min-width: 1024px) {
  body > nav {
    background-color: #4056A1;
  }
}