.new-tweet {
  width: 100%;
  height: 25%;
  margin: 10px 0 40px 0;
}

.new-tweet label {
  display: block;
  font-weight: 600;
  border-bottom: 0.1em;
}

.new-tweet textarea {
  margin: 5px auto;
  background: transparent;
  border: transparent;;
  border-bottom: 3px solid #555149;
  width: 100%;
  resize: vertical;
}

::placeholder {
  color: #999999;
  font-style: italic;
  font-size: 0.9em;
}

.new-tweet div {
  font-family: "Bungee", cursive;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.new-tweet .counter.tooManyChars {
  color: #e74c3c;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  padding: 10px;
}

.new-tweet button:hover {
  cursor: pointer;
  background-color: #C7982C;
}

.new-tweet .validation-error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: #e74c3c;
  font-style: normal;
  border: 0.2em solid #e74c3c;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.new-tweet .validation-error::after {
  content: "\26A0";
  font-size: 40px;
}

.new-tweet .validation-error::before {
  content: "\26A0";
  font-size: 40px;
}